{% extends 'base.html.twig' %}

{% block title %}Materiels | Lac de Poses{% endblock %}

{% block body %}
<div class="container mx-auto p-8">
    <h1 class="text-3xl font-bold mb-6 text-center">Liste des matériels</h1>

    <div class="overflow-x-auto">
        <table class="min-w-full bg-white shadow-md rounded-lg overflow-hidden text-center">
            <thead class="bg-gray-800 text-white">
                <tr>
                    <th class="w-1/6 py-3 px-4 uppercase font-semibold text-sm">ID</th>
                    <th class="w-1/3 py-3 px-4 uppercase font-semibold text-sm">Name</th>
                    <th class="w-1/4 py-3 px-4 uppercase font-semibold text-sm">Prix</th>
                    <th class="w-1/4 py-3 px-4 uppercase font-semibold text-sm">En stock</th>
                    <th class="w-1/4 py-3 px-4 uppercase font-semibold text-sm">Actions</th>
                </tr>
            </thead>
            <tbody class="text-gray-700">
            {% for materiel in materiels %}
                <tr class="bg-gray-100 border-b">
                    <td class="py-3 px-4">{{ materiel.id }}</td>
                    <td class="py-3 px-4">{{ materiel.name }}</td>
                    <td class="py-3 px-4">{{ materiel.prix }}</td>
                    <td class="py-3 px-4">{{ materiel.stock }}</td>
                    <td class="py-3 px-4">
                        <a href="{{ path('app_materiel_show', {'id': materiel.id}) }}" class="text-blue-500 hover:text-blue-700">Détail</a>
                        <a href="{{ path('app_materiel_edit', {'id': materiel.id}) }}" class="text-green-500 hover:text-green-700 ml-4">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4" class="text-center py-4 text-gray-500">Aucun matériel n'a été trouvé.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="mt-6 flex justify-end">
        <a href="{{ path('app_materiel_new') }}" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700">Créer un matériel</a>
    </div>
</div>
{% endblock %}
